@use '../includes/mixins' as *; 
@use '../includes/variables' as *;

.pgnt {
	display: flex; gap: 15px; justify-content: center; margin-top: 40px;

	a {
		@include flex-center;

		height: 36px; width: 36px; border-radius: 10px; border: 1px solid $colorGrey7; font-weight: 500; font-size: rem(14);

		&:hover, &.active {
			color: #fff; background: $colorPrimary;
		}
	}
}

a.pgnt__first, a.pgnt__last {
	border: none;
}

.pgnt__last {
	transform: rotate(180deg);
}