@use '../includes/mixins' as *; 
@use '../includes/variables' as *;

.topline {
	background: $colorGrey9; padding: 7px 0; 
}

.topline__body {
	font-size: rem(14); display: flex; align-items: center; gap: 20px;
}

.topline__city {
	@include ell(1);

	display: flex; align-items: center; gap: 5px; max-width: 150px; 

	@include r991 {
		margin-right: auto;
	}
}

.topline__menu {
	margin: 0 auto; display: flex; gap: 15px; color: $colorGrey2;

	.dropdown-toggle {
		display: flex; gap: 5px; align-items: center;
	}

	@include r991 {
		display: none;
	}
}

.topline__lang {
	font-weight: 500; flex-shrink: 0;
}